# env
.env
.venv/
venv/

# python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# data + checkpoints
data/raw/
data/data/
data/processed/
!data/raw/MARIDA/norm_stats.json
!data/raw/MARIDA/class_weights.json
checkpoints/
*.pt
*.pth
*.nc
*.tif
*.tiff

# forecast outputs
forecast/
data/forecast/
predictions.json
*.geojson

# IDE
.idea/
.vscode/
.DS_Store
CLAUDE.md
